html {
  font-size: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #385D1C;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #385D1C;
  text-shadow: 5px 2px 2px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #88AB6D;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.text-responsive {
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .text-responsive {
        font-size: 1rem;
    }

    .responsive-image {
        border-radius: 10px;
    }
}

@media (max-width: 576px) {
    .text-responsive {
        font-size: 0.875rem;
    }

    .responsive-image {
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
}